.navbar
  position: fixed
  z-index: 1


.navOn
  background: #222222
  color: #f6f8ff
  transition: .2s

.navbar__title-b
  color: #fff

.navOff
  background: #f5f4fd
  color: #2b2b2b
  transition: .2s

.navbar__title-w
  color: black

.navbar__link-home
  font-size: 25px
  font-weight: bold