::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc25ff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

.white_space {
  width: 100%;
  height: 130px;
}

body,
ul,
h1,
p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.block {
  background-color: red;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  color: white;
}

body {
  font-family: "Quicksand", sans-serif;
  color: aliceblue;
  background-color: #ffffff;
  /*background-color: #420c7e;*/
}

.body-dark{
  background-color: #2d1a4b;
  color: whitesmoke;
}

.header img {
  width: 100%;
  height: auto;
}
/*
@supports (object-fit: cover) {
  .header img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
*/
@supports (object-fit: cover) {
  .header svg {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header__texto {
  background-color: #00000000;
  position: absolute;
  padding: 30px 0;
  width: 65%;
  border-radius: 8px;
  z-index: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.header__texto__titulo {
  font-size: 6vw;
  text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

.header__texto__parrafo {
  font-size: 35px;
  color: #1d1d1d;
  font-weight: lighter;
  text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.header__email{
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  bottom: 90px;
  background: #624dcf;
  padding: 0.5em 1em;
  border-radius: 10px;

}

.header__email:hover {
  transform: translateY(7px);
  transition: .2s;
}

.email-back{
  position: absolute;
  width: 232px;
  height: 45px;
  background-color: #4f4097;
  border-radius: 10px;
  margin: auto;
  bottom: 80px;
}

.email-copied{
  position: absolute;
  background: rgb(6, 161, 45);
  padding: 10px;
  border-radius: 10px;
  bottom: 30px;
  transition: .2s;
  display: none;
}

.nav {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: rgba(164, 208, 246, 0.061);
  /*
  background-color: #242424;
  /*background-color: #201f24;
  */
  z-index: 2;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
/*Cambiar estilo de nav. segun scrollY*/

.nav__color-scrolly {
  background-color: rgb(255, 255, 255);
  color: rgb(36, 36, 36);
}
.nav__color-scrolly ul li a {
  color: rgb(34, 34, 34);
}

.nav__color-scrolly .boton,
.nav__color-scrolly .boton::before,
.nav__color-scrolly .boton::after {
  background: rgb(24, 23, 23);
}

.nav__tranparent-scrolly {
  background-color: rgba(207, 207, 207, 0.061);
}

/*Auto ocultar nav*/
.hidden {
  transform: translate(0, -255px);
  height: 0px;
  transition: 0.5s;
}

.nav__lista {
  width: 100%;
  height: 50px;
  display: flex;
  float: right;
  transition: 0.3s;
}

.nav__lista__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  font-weight: 60;
  font-size: 14pt;
}

.item__link {
  font-size: 20px;
}
.item__home,
.item__home > a {
  margin-right: auto;
  font-size: 35px;
}

.nav__lista__item:hover:not(:first-child):not(:last-child) {
  height: 40px;
  border-top: solid 5px #cc25ff;
}

/*
.nav__lista__item:hover:last-child {
  background-color: #cc25ff;
  color: white;
}*/


.nav__lista__item:hover:last-child{
  transform: scale(1.1);
  transition: .2s;
}

.item__contact {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 11px;
  background-color: #fff;
  border-radius: 5px;
  height: 30px;
}

.link__contact {
  color: black;
}

.boton {
  position: absolute;
  top: 13px;
  right: 13px;
  margin-left: auto;
  height: 3.6px;
  width: 40px;
  background-color: aliceblue;
  border-radius: 3px;
  visibility: hidden;
}

.boton::after,
.boton::before {
  height: 3.5px;
  width: 40px;
  position: absolute;
  background-color: aliceblue;
  content: "";
  border-radius: 3px;
}
.boton::after {
  top: 10px;
}
.boton::before {
  top: 20px;
  background-color: aliceblue;
}

.boton.btn_animation {
  height: 30px;
  visibility: visible;
  background: rgba(0, 0, 0, 0);
}

.boton.btn_animation::before {
  top: 13px;
  transform: rotate(45deg);
}

.boton.btn_animation::after {
  top: 13px;
  transform: rotate(-45deg);
}

.nav__color-scrolly .btn-animation {
  background-color: red;
}

.subtitulo {
  color: #624dcf;
  /*color: #532c92;*/
  /*color: #383838;*/
  text-align: center;
  margin: 50px;
  font-size: 45px;
}
.content__head {
  /*background-color: #8074af;*/
  width: 90%;
  border-radius: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content__header__avatar {
  margin: auto;
  width: 550px;
  padding: 30px;
  visibility: hidden;
}

.cont__head__img {
  width: 100%;
  height: auto;
  visibility: visible;
}

.content__header__info {
  display: flex;
  align-items: center;
  width: 700px;
  padding: 60px;
}

.content__header__info > p {
  /*color: #532c92;*/
  color: rgb(68 68 69);
  font-size: 25px;
  text-align: justify;
}

.content__header__info >p > span{
  color: #624dcf;
}

.avatar {
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 15px;
}

.avatar__container {
  background-color: #8074af;
  border-radius: 15px;
  margin: auto;
  height: 350px;
  width: 300px;
  padding-top: 25px;
}

.avatar__container__img {
  margin-top: 15px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: auto;
  border: solid 4px rgb(91, 25, 107);
}

.container__img {
  margin-top: 15px;
  border-radius: 50%;
  height: 138px;
  width: 138px;
  margin: auto;
}

.avatar__container__name {
  text-align: center;
  margin: 25px 55px;
  padding-bottom: 10px;
  border-bottom: solid 3px #420c7e;
}

.repositorios__titulo {
  /*background-color: #201f24;*/
  background-color: #8074af;
  margin: auto;
  width: 50%;
  padding: 13px;
  margin-bottom: 60px;
  text-align: center;
  border-radius: 15px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: auto;
  border-radius: 15px;
}

.contenedor__item {
  background-color: #8074af;
  width: 370px;
  border-radius: 15px;
  height: 200px;
  padding: 25px;
  margin: 25px;
}

.cuerpo__titulo {
  font-size: 25px;
  padding-bottom: 25px;
}

.cuerpo__parrafo > a,
.cuerpo__parrafo > p {
  color: rgb(246, 246, 246);
  font-size: 20px;
}

.skills {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  gap: 20px;
  padding: 10px;
}

.skill {
  position: relative;
}

.text__skill {
  font-size: 24px;
  font-weight: lighter;
  color: rgb(59, 59, 59);
}

.skills__item {
  height: 150px;
  min-width: 150px;
  border: 0px solid #532c92;
  border-radius: 15px;

  position: relative;

  transition: 0.2s;
}

.skills_img {
  width: 60px;
  position: absolute;
  left: 50%;
  top: 45%;

  transform: translate(-50%, -50%);
}

.skills__text {
  position: absolute;
  bottom: 12px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(59, 59, 59);
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}

.codepen__container {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}

.codepen__item {
  width: 40%;
  min-width: 60c0px;
  border-radius: 15px;
}

.css_ {
  color: rgb(36, 132, 187);
  text-decoration: underline;
}

.repo__text {
  font-size: 20px;
  color: rgb(59, 59, 59);
}

.proyects {
  width: 90%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 10px;
  gap: 52px;
}

.proyects__item {
  box-sizing: border-box;
  width: calc(20% - 8px);
  height: 440px;
  min-width: 300px;
  /*
    background-color: rgb(44, 41, 53);
  background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
  */
  background-color: rgb(44, 41, 53);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 10px 10px 20px #be7bb2;
  transition: 0.3s;
}

.card__container:hover .proyects__item {
  transform: rotate(5deg);
  transition: 0.3s;
}
.proyects__header {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
}

.proyects__img {
  width: 35%;
  height: 100%;

  position: relative;
}

.proyects__img > img {
  position: absolute;
  max-width: 60%;
  border-radius: 50%;
  border: 4px solid purple;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header__text--user {
  position: absolute;
  left: 55%;
  top: 25px;
  height: 50%;
  font-size: 26px;
  transform: translate(-50%);
}

.proyects__body > p {
  /*color: rgb(71 71 71);*/
  text-align: center;
  position: relative;
  top: 25px;
  font-size: 20px;
}

.proyects__body {
 /* background-color: white;*/
  width: 100%;
  height: 80%;
  box-sizing: border-box;

  border-radius: 10px;
}

.chart-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 75%;
  height: 100%;
}

.footer {
  border-top: 5px solid #cc25ff;
  /*background-color: #8074af;*/
  /*background-color: #532c92;*/
  background-color: #242424;
  /*padding: 15px 0px 15px 0px;*/
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.footer__head {
  /*padding-bottom: 15px;*/
  position: relative;
  height: 50px;
  font-size: 18px;
}

.footer--p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.footer--p-2 {
  position: absolute;
  font-size: 12px;
  bottom: 0;
}

.footer--p-2 > a {
  font-size: 9px;
}

.footer__content {
  box-sizing: border-box;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-around;
  align-items: center;
}

.footer__content__item {
  display: flex;
  flex-direction: column;
  min-width: 115px;
  height: 110px;
  align-items: center;
  justify-content: center;
}

.footer__link--p {
  font-size: 18px;
  margin-top: 15px;
}

.content--youtube > a:not(:last-child) {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.content--github > a > i {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.content--linkedin > a:not(:last-child) {
  color: rgb(250, 250, 250);
  font-size: 50px;
}

.item__content--footer {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
}

.footer__end {
  height: 50px;
  position: relative;
}

.copy {
  font-size: 16px;
}

.li_relative {
  position: relative;
}

.img__icons {
  max-width: 100%;
}

@media (max-width: 872px) {
  li {
    position: absolute;
  }

  .footer__head {
    font-size: 18px;
  }

  .repositorios__titulo {
    width: 60%;
  }

  .nav__lista__item:hover:not(:first-child):not(:last-child) {
    height: 50px;
    border: 0px;
    background-color: #00000044;
  }
  .boton {
    visibility: visible;
  }
  .nav__lista__item:not(:first-child) {
    visibility: hidden;
  }

  .header__texto__titulo {
    /* font-size: 70px;*/
    text-align: center;
    font-size: 10vw;
  }

  .header__texto__parrafo {
    font-size: 25px;
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 644px) {
  .codepen__container {
    display: none;
  }

  .header {
    height: 50vh;
  }

  .content__header__info > p {
    text-align: center;
  }

  .repositorios__titulo {
    width: 75%;
  }

  .avatar {
    margin-top: 85px;
  }

  .contenedor1__titulo {
    width: 100%;
  }

  .header__texto__titulo {
    /* font-size: 55px;*/
    font-size: 10vw;
  }

  .footer__link--p {
    display: none;
  }

  .skills {
    width: 90%;
  }

  .skills__item {
    min-width: 140px;
    height: 140px;
  }
  .skills__text {
    position: absolute;
    bottom: 2px;
    font-size: 15px;
    font-weight: lighter;
  }

  .header__email{
    font-size: 16px;
  }

}

@media (max-width: 420px) {
  .subtitulo {
    font-size: 10vw;
  }

  .skills {
    width: 90%;
  }

  .header {
    height: 50vh;
  }

  .content__header__info > p {
    text-align: center;
  }

  .repositorios__titulo {
    width: 90%;
  }

  .avatar {
    margin-top: 100px;
  }

  .contenedor1 {
    padding-top: 80px;
  }
  .header__texto {
    width: 300px;
  }
  .header__texto__titulo {
    /*font-size: 50px;*/
    font-size: 8vw;
  }

  .proyects__item {
    min-width: 300px;
  }
}

@media (max-width: 322px) {
  .content__header__info > p {
    text-align: center;
  }

  .sub--acerca {
    margin-top: 80px;
  }
  .header__texto__titulo {
    font-size: 10vw;
  }

  .header__texto__parrafo {
    position: absolute;
    visibility: hidden;
  }
  .header__texto > p {
    position: absolute;
    visibility: hidden;
  }

  .avatar__container {
    width: 80%;
    height: 350px;
    padding-top: 25px;
  }

  .avatar__container__img {
    margin-top: 0px;
    height: 120px;
    width: 120px;
  }

  .container__img {
    width: 117px;
    height: 117px;
    border-radius: 50%;
  }

  .footer__content {
    flex-wrap: wrap;
  }

  .proyects__item {
    min-width: 240px;
    height: 400px;
  }

  .header__text--user {
    font-size: 18px;
  }
}

.nav2 {
  background-color: #201f24;
  position: absolute;
}

.nav3 {
  background-color: #ece8ff;
  position: absolute;
}

.nav__lista2 {
  height: 255px;
  display: block;
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  transition: 0.3s;
}

.item__home2 {
  margin-left: 0px;
}

.nav__lista__item2:not(:first-child) {
  visibility: visible;
  margin: auto;
}

.item__contact2 {
  width: 45px;
}

canvas {
  width: 450px;
}
