@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration: none;
    font-size: 24px;   
}

h1{
    font-family: 'Parisienne', cursive;
    font-family: 'Quicksand', sans-serif;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: aliceblue;
    background-color: #420c7e;
}
img{
    display: block;
}
.header{
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;

}

.header__texto{
    background-color: #00000054;
    position: absolute;
    padding: 20px 45px 50px 45px;
    width: 65%;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
}

.header__texto__titulo{
    font-size: 70px; 
}

.header__texto__parrafo{
    font-size: 30px;
}

.header__img{
    width: 100%;
    height: auto;
}


.nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #201f24;
    /*background-color: #201f24;*/
    z-index: 2;
    align-items: center;
    
}

.nav__lista{
    width: 100%;
    display: flex;
    float: right;
    margin-right: 25px;
}

.nav__lista__item{   
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    font-weight: 60;
    font-size: 14pt;
    
}

.item__home{
    margin-left: 25px;
    margin-right: auto;
    font-size: 30px;
    font-weight: 800;
}

.nav__lista__item:hover:not(:first-child):not(:last-child){
    height: 45px;
    border-top: solid 5px #37ec5e; 
}

.nav__lista__item:hover:last-child{
    background-color: rgb(55, 236, 94);
    color:white;
}

.item__contact{
    color: black;
    margin-left: 25px;
    margin-top: 11px;
    background-color: rgb(55, 236, 94);
    border-radius: 5px;
    height: 30px;

}


.boton{
    position: absolute;
    top: 13px;
    right: 13px;
    margin-left: auto;
    height: 3.6px;
    width: 40px;
    background-color: aliceblue;
    border-radius: 3px;
    visibility: hidden ;
}

.boton::after, .boton::before{
    height: 3.5px;
    width: 40px;
    position: absolute;
    background-color: aliceblue;
    content: '';
    border-radius: 3px;
}
.boton::after{
    top: 10px;
}
.boton::before{
    top: 20px;
    background-color: aliceblue;
}

.boton.btn_animation{
    height: 30px;
    background-color: #201f24;
    visibility: visible;
}

.boton.btn_animation::before{
    top: 13px;
    transform: rotate(45deg);
}

.boton.btn_animation::after{
    top: 13px;
    transform: rotate(-45deg);
}

.avatar{
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 15px;
}

.avatar__container{
    background-color: #201f24;
    border-radius: 15px;
    margin: auto;
    height: 350px;
    width: 300px;
    padding-top: 25px;
}

.avatar__container__img{

    margin-top: 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    height: 140px;
    width: 140px;
    margin: auto;
    border: solid 4px rgb(91, 25, 107);
}

.container__img{
    margin-top: 15px;
    border-radius: 50%;
    height: 138px;
    width: 138px;
    margin: auto;

}

.avatar__container__name{
    text-align: center;
    margin: 25px 55px;
    padding-bottom: 10px;
    border-bottom: solid 3px #420c7e;
}

.repositorios__titulo{
    /*background-color: #201f24;*/
    background-color: #201f24;
    margin: auto;
    width: 50%;
    padding: 13px;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 15px;

}

.contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 90%;
    margin:auto;
    border-radius: 15px;  
}


.contenedor__item{
    background-color: #201f24;
    width: 370px;
    border-radius: 15px;
    height: 200px;
    padding: 25px;
    margin: 25px;
}

.cuerpo__titulo{
    font-size: 25px;
    padding-bottom: 25px;
}

.cuerpo__parrafo >a, .cuerpo__parrafo > p{
    color:rgb(55, 236, 94);
    font-size: 20px;
}

.footer{
    background-color: #201f24;
    padding: 15px 0px 15px 0px;
    text-align: center; 
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.footer__head{
    padding-bottom: 15px;
}


.footer__content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-around;
    align-items: center;

}


.footer__content__item{ 
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.footer__content__item > a > h3{

    font-size: 20px;

}

.content--youtube> a:not(:last-child){
    color: rgb(179, 29, 29);
    font-size: 50px;
}

.content--github >a >i{
    color: purple;
    font-size: 50px;
    margin-bottom: 8px;
}

.content--linkedin > a:not(:last-child){
    color:rgb(48, 81, 179);
    font-size: 50px;
}

.content--youtube> a> i:hover{
    color:rgb(231, 41, 41);
}

.content--github > a>i:hover{
    color: rgb(156, 16, 156);
}

.content--linkedin>a > i:hover{
    color:royalblue;
}


.footer__end{
    margin: 15px;
    margin-bottom: 0%;
}

.copy{
    font-size:16px;
}


@media(max-width: 872px){

    .repositorios__titulo{
        width: 60%;
    }

    .nav__lista__item:hover:not(:first-child):not(:last-child){
        height: 50px;
        border:0px;
        background-color: #00000044;
    }
    .boton{
        visibility: visible;
    }
    .nav__lista__item:not(:first-child){
        visibility: hidden;
    }
 
    .header__texto__titulo{
        font-size: 70px;
    }
    .header__texto__parrafo{
        font-size: 25px;
        visibility: hidden;
        position: absolute;
    }
}

@media(max-width: 644px){

    .repositorios__titulo{
        width: 75%;
    }

    .avatar{
        margin-top: 85px;
    }

    .contenedor1__titulo{
        width: 100%;
    }

    .header__texto{
        margin-top: 100px;
    }
 
    .header__texto__titulo{
        font-size: 55px;
    }
}

@media(max-width: 420px){

    .repositorios__titulo{
        width: 90%;
    }

    .avatar{
        margin-top: 100px;
    }

    .contenedor1{
        padding-top: 80px;
    }
    .header__texto{
        width: 300px;
        height: 160px;
    }
    .header__texto__titulo{
        font-size: 50px;

    }

}

@media(max-width: 322px){

    .header__texto{
        padding: 20px;
        width: 200px;
        height: 160px;
    }
    .header__texto__titulo{
        font-size: 40px;
    }
    .header__texto__parrafo{
        position: absolute;
        visibility: hidden;
    }
    .header__texto > p{
        position: absolute;
        visibility: hidden;
    }

    .avatar__container{
        width: 80%;
        height: 350 px;
        padding-top: 25px;
    }
    
    .avatar__container__img{
    
        margin-top: 0px;
        height: 120px;
        width: 120px;
    }
    
    .container__img{
        width: 117px;
        height: 117px;
        border-radius: 50%;
    }
}

.nav2{
    background-color: #201f24;
}

.nav__lista2{
    display: block;
    text-align: center;
    padding-bottom: 30px;
    margin: auto;
}

.item__home2{
    margin-left: 0px;
}

.nav__lista__item2:not(:first-child){
    visibility: visible;
    margin: auto;
    
}

.item__contact2{
    width: 115px;
}
