:root {
  --ground: #ae5621;
  --bordeTelefono: rgb(45, 45, 45);
}

.animation{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.animation__item{
	width: 40%;
	height: 700px;

}

.main-phone{
	width: 360px;
	height: 670px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone {
  position: relative;
}

.layer-0,
.layer-1,
.layer-2,
.layer-3,
.layer-4,
.layer-5,
.layer-6,
.layer-7,
.layer-8,
.layer-9,
.layer10,
.corner {
  position: absolute;
}

.phone {
	height: 670px;
  min-width: 360px;
  background: #702eaf;
  border: 5px solid var(--bordeTelefono);
  border-radius: 30px;
  box-shadow: 15px 20px 28px rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.layer-0 {
  background: yellow;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  left: -10px;
  top: -10px;
  animation: 1s pulse-sun infinite;
  animation-direction: alternate;
  box-shadow: inset 10px 0px 20px rgba(0, 0, 0, 0.7);
  z-index: 0;
}

@keyframes pulse-sun {
  from {
    opacity: 0.1;
  }
  to {
    box-shadow: 10px 10px 80px yellow, -10px -10px 80px yellow,
      inset 10px 0px 20px rgba(0, 0, 0, 0.7);
    transform: translatez(10px);
  }
}

.layer-1 {
  position: absolute;
  width: 80px;
  height: 90px;
  left: 55%;
  bottom: 430px;
  z-index: 1;
}
.layer-2 {
  width: 80px;
  height: 90px;
  right: 55%;
  bottom: 430px;
  z-index: 2;
}
.layer-3 {
  background: var(--ground);
  width: 270px;
  height: 470px;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.3),
    inset -10px 0 20px rgba(0, 0, 0, 0.3), inset 0 20px 1px rgba(19, 140, 36),
    10px 0 20px rgba(0, 0, 0, 0.4), -10px 0 20px rgba(0, 0, 0, 0.4);

  animation: 1s down infinite;
  animation-direction: alternate;
  z-index: 3;
}

@keyframes down {
  to {
    height: 300px;
  }
}

.layer-4 {
  width: 80px;
  height: 90px;
  left: 60px;
  bottom: 320px;
  z-index: 4;
}
.layer-5 {
  width: 270px;
  height: 300px;
  background: var(--ground);
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.3),
    inset -10px 0 20px rgba(0, 0, 0, 0.3), inset 0 20px 1px rgba(19, 140, 36),
    10px 0 20px rgba(0, 0, 0, 0.4), -10px 0 20px rgba(0, 0, 0, 0.4);
  animation: 1s move-2 infinite cubic-bezier(0.11, 0.01, 0.67, -0.11);
  animation-direction: alternate;
  z-index: 5;
}

@keyframes move-2 {
  to {
    transform: translatex(100px);
  }
}

.layer-6 {
  width: 80px;
  height: 90px;
  right: 60px;
  bottom: 210px;
  z-index: 6;
}
.layer-7 {
  background: var(--ground);
  width: 270px;
  height: 200px;
  right: -1px;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 25px;
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.4),
    inset -10px 0 20px rgba(0, 0, 0, 0.4), inset 0 20px 1px rgba(19, 140, 36),
    10px 0 20px rgba(0, 0, 0, 0.4), -10px 0 20px rgba(0, 0, 0, 0.4);
  animation: 1s move-3 infinite cubic-bezier(0.11, 0.01, 0.67, -0.11);
  animation-direction: alternate;
  z-index: 7;
}

@keyframes move-3 {
  to {
    transform: translate(-100px);
  }
}

.layer-8 {
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.4);

  right: 70px;
  bottom: 60px;
  transform: translatex(30px) translatey(30px);
  z-index: 8;

  display: none;
}
.layer-8:after {
  position: absolute;
  content: "";
  background: white;
  width: 100px;
  height: 100px;
  left: 47px;
  top: 50px;
  border-radius: 50%;
  box-shadow: inset -10px 0px 10px rgba(0, 0, 0, 0.4);
}
.layer-8:before {
  position: absolute;
  content: "";
  background: white;
  width: 100px;
  height: 100px;
  left: -50px;
  top: 50px;
  border-radius: 50%;
  box-shadow: inset 10px 0px 10px rgba(0, 0, 0, 0.4);
}
.layer-9 {
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.4);

  left: 5px;
  bottom: 10px;
  z-index: 8;

  display: none;
}
.layer-9:after {
  position: absolute;
  content: "";
  background: white;
  width: 100px;
  height: 100px;
  left: 47px;
  top: 50px;
  border-radius: 50%;
  box-shadow: inset -10px 0px 10px rgba(0, 0, 0, 0.4);
}
.layer-9:before {
  position: absolute;
  content: "";
  background: white;
  width: 100px;
  height: 100px;
  left: -50px;
  top: 50px;
  border-radius: 50%;
  box-shadow: inset 10px 0px 10px rgba(0, 0, 0, 0.4);
}
.layer-10 {
  z-index: 10;
}
/*rabbits*/

.main-phone{
  position: relative;
}

.phone {
  position: absolute;
  transform: perspective(1500px) rotateY(40deg) rotateX(30deg);
  transform-style: preserve-3d;
  transition: 0.5s;
}

.main-phone:hover .phone {
  transform: perspective(1500px) rotateY(0deg) rotateX(0deg);
  overflow: hidden;
}
/*  capa de atas toque 3d
  .phone:before{
    position: absolute;
    content: "";
    width: 23px;
    height: 650px;
    left: -27px;
    top: 32px;
    background: var(--bordeTelefono);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 50%;
    z-index: -1;
    transform: skewy(-56deg)
  }
  
  
  .phone:after{
    position: absolute;
    content: "";
    height: 23px;
    width: 358px;
    bottom: -23px;
    background: var(--bordeTelefono);
    transform: skewx(-40deg) translatex(-15px);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 30px;
  }
  */
