.skills__item{
    transition: 1.3s;
}

.skill:hover .skills__item{
    transform: rotatey(360deg);
}

.flip-img{
    animation: flipimg 1.5s;
    animation-delay: 1s;
}


@keyframes flipimg {

    from{

        transform:  rotatex(0deg);
    }
    to{
        transform: rotatex(360deg);
    }
}


.item__content--footer:hover{
    transform: translateY(-10px);
    transition: .3s;;
}

.svg1 path{
    animation: 3s move infinite linear alternate;
}

@keyframes move{
    from{
        transform: translate(-30px, 0px);
    }
    to{
        transform: translate(-160px, 50px);
    }

}