.main_index
  display: flex
  flex-direction: column
  gap: 30px

@media (min-width: 880px)
  main.main_index > section
    //scroll-snap-align: start
  //.main_index
   // height: 100vh
    //overflow-y: scroll
   // scroll-snap-type: y mandatory

.nav__ghost
  height: 50px

  //background: #1d1d1d

.about
  display: flex
  flex-direction: column
  justify-content: center

.skills__extras
  display: flex
  gap: 50px
  background-color: #f5f4fd
  padding: 20px
  border-radius: 10px
  flex-wrap: wrap
  justify-content: center

.extra__section
  padding: 30px
  display: flex

.extra
  display: flex
  justify-content: space-between
  align-items: center
  gap: 50px
  height: 50px

.extra > img
  max-height: 100%
  transition: .3s

.extra > p
  color: #222222
  font-size: 1.5em
  transition: .3s

@media (max-width: 458px)
  .about__img
    width: 300px
