.proyects
  width: 90%
  margin : auto

.proyects__item
  margin: 90px 0

.proyects__item > section
  margin-top: 60px


.proyects__css
  display: flex
  justify-content: space-around
  gap : 50px
  min-width: 200px
  flex-wrap: wrap
  margin: 20px 0


.css__item
  display: flex
  align-items: center

.proyects__vue
  display: flex
  justify-content: center
  gap: 60px
  flex-wrap: wrap
  align-content: center


.proyects__github
  display: flex
  flex-wrap: wrap
  justify-content: center
  gap: 40px


